-# Details: http://microformats.org/wiki/hatom

%article.hentry.post{:id => "post-#{post.id}"}
  %header
    = render "blog/shared/share_buttons_for_post", :post => @post

    %h1.entry-title
      = link_to_post(post,
      :text => textilize_without_paragraph(post.title),
      :rel => "bookmark")

    .entry-meta
      .entry-published
        = pretty_date(post.published_at, :class => "published")

      .entry-author
        = t(".written_by")
        = pretty_author(post.user)

  .entry-content
    = textilize(post.body)

  %footer
    = render "blog/shared/share_buttons_for_post", :post => @post

    .entry-tags
      = render "blog/shared/tags", :tags => post.tags
