- length ||= 350

= media_block(class: "post-preview", id: "post-#{post.id}") do
  .entry-published
    = pretty_date(post.published_at, format: :short)

  %h2.entry-title
    = link_to_post(post, rel: :bookmark)

  - if comments_enabled?
    .entry-comments
      = link_to_comments(post)
      = disqus_comment_count_javascript

  .entry-excerpt
    = excerpt_from_post(post, length: length)

  .entry-sharing
    .addthis-wrapper
      = addthis_buttons_for_post(post)

    .plusone-wrapper
      = plusone_button_for_post(post, "data-size" => :small)
