-# Details: http://microformats.org/wiki/hatom

%article.hentry.post{:id => "post-#{post.id}"}
  %header
    = render "blog/shared/share_buttons_for_post", :post => @post

    %h1.entry-title
      = link_to_post(post,
      :text => textilize_without_paragraph(post.title),
      :rel => "bookmark")

    .entry-meta
      .entry-published
        = pretty_date(post.published_at, :class => "published")

      .entry-author
        = t(".written_by")
        = pretty_author(post.user)

  = adsense_block(:class => "adsense large-rect") do
    :plain
      <script>
        google_ad_client = "ca-pub-5288272203015721";
        google_ad_slot = "7303175719";
        google_ad_width = 336;
        google_ad_height = 280;
      </script>

  .entry-content
    = textilize(post.body)

  %footer
    = render "blog/shared/share_buttons_for_post", :post => @post

    - unless post.tags.blank?
      .entry-tags
        Dieser Artikel wurde in den Kategorien
        = linked_tags_as_sentence(post.tags)
        einsortiert.
