%article.hentry.post{:id => "post-#{post.id}"}
  %header

    - if Settings.blog.show_previous_and_next_links
      = render "blog/shared/previous-and-next-post", :post => post

    - if Settings.blog.share_buttons.show_at_post_top
      = render "blog/shared/share-buttons-for-post", :post => post

    %h1.entry-title
      = link_to_post(post,
      :text => textilize_without_paragraph(post.title),
      :rel => "bookmark")

    .entry-meta
      .entry-published
        = pretty_date(post.published_at, :class => "published")

      .entry-author
        = t(".written_by")
        = pretty_author(post.user)

  .entry-content
    = adsense_section do
      - html = textilize(post.body)

      - if inject_adsense?(post.body)
        = inject_adsense(html)
      - else
        = html

  %footer
    - if Settings.blog.share_buttons.show_at_post_bottom
      = render "blog/shared/share-buttons-for-post", :post => post

    - if Settings.blog.show_donate_with_paypal
      = render "blog/shared/donate-with-paypal"

    - if Settings.blog.show_previous_and_next_links
      = render "blog/shared/previous-and-next-post", :post => post

    - unless post.tags.blank?
      .entry-tags
        Dieser Artikel wurde in den Kategorien
        = linked_tags_as_sentence(post.tags)
        einsortiert.

    = render "blog/shared/additional_description", :post => @post

    - if Settings.blog.show_related_posts
      = render "blog/shared/related-posts", :post => post

    - if comments_enabled?
      = disqus_thread_javascript_for(post)
