
= semantic_form_for(post, :url => polymorphic_url([:backend, post])) do |f|
  = f.inputs do
    = f.input :title
    = f.input :body, :as => :text

    = f.input :published_at, :as => :datetime

  = f.buttons do
    = f.commit_button
