-# See http://html5boilerplate.com/ for details
!!! strict
<!--[if lt IE 7]> <html lang="de" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="de" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="de" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="de" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  %title Blog

  = csrf_meta_tag
  -#= track_with_google_analytics
  -#= track_with_google_webmaster_tools

  -# RSS and ATOM feeds
  = auto_discovery_link_tag(:rss,  :action => "feed", :format => :rss)
  = auto_discovery_link_tag(:atom, :action => "feed", :format => :atom)

  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  -#= favicon_link_tag
  -# <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  = stylesheet_link_tag "application"
  = javascript_include_tag "application"

  -# For the less-enabled mobile browsers like Opera Mini
  -# <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">

  -#
    All JavaScript at the bottom, except for Modernizr which enables
    HTML5 elements & feature detects
  -#= javascript_include_tag "shared/modernizr.min.js"
  = addthis_javascript

%body.blog
  #page
    = flash[:notice] if flash[:notice]
    = flash[:error] if flash[:error]

    %header

    %section#content
      = yield

    %aside#sidebar
      = render "feeds"
      = render "latest-posts"
      = render "all-tags"

    %footer

  -# Grab Google CDN's jQuery. fall back to local if necessary
  -# :plain
  -#   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  -#   <script>!window.jQuery && document.write(unescape('%3Cscript src="javascripts/shared/jquery.min.js"%3E%3C/script%3E'))</script>

  -#
    Grab all JavaScript files from shared/ with the exceptions of Modernizr and
    jQuery which got included earlier. Add the JavaScript files from the frontend/
    and load the whole bunch.

-#   - javascripts = javascripts_from_directory("shared", :except => [ "modernizr.min", "jquery.min" ])
-#   - javascripts += javascripts_from_directory("frontend")
-#   = javascript_include_tag *javascripts, :cache => "frontend"

</html>
