-# See http://html5boilerplate.com/ for details
!!! strict
<!--[if lt IE 7]> <html lang="de" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="de" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="de" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="de" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  %title Blog / Backend
  = csrf_meta_tag
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  = stylesheet_link_tag "blog/backend"
  = javascript_include_tag "blog/backend"

%body.backend
  #page
    = flash[:notice] if flash[:notice]
    = flash[:error] if flash[:error]

    %header

      %nav
        %ol.xoxo
          %li= link_to t("backend.links.dashboard"), backend_root_path
          %li= link_to t("backend.links.posts"), backend_posts_path


    %section#content
      = yield

    %aside#sidebar

    %footer

</html>
